body {
  background-color: #FFDEAF;
  font-size: 14px;
  text-align: left;
  font-family: sans-serif;
  line-height: 1.5;
}

div {
  padding: 0 20px;
}

img {
  width: 150px;
}

nav>a {
  text-align: center;
}

h1 {
  font-size: 28px;
  text-align: center;
  border-bottom: 1px solid black;
}

.date {
  font-weight: bold;
  padding: 0 20px;
  vertical-align: top;
  width: 120px;
}

.employer {
  font-weight: bold;
}

.employer>ul {
  font-weight: normal;
}


