body {
    background-color: #DAAFFF;
    font-size: 14px;
    text-align: left;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 28px;
    text-align: center;
  }
  